<div class="register-container">

  <div class="form">

    <form 
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="name">
      <div class="name-inputs">
        <input
          id="firstname"
          type="text"
          placeholder="Firstname*"
          formControlName="firstname"
        />
        <label 
          *ngIf="shouldDisplayRequiredError(registerForm.get('firstname'))"
          class="label-error" 
          >
          Merci de remplir ce champs.
        </label>
      </div>
  
      <div class="name-inputs">
        <input
          type="text"
          id="lastname"
          placeholder="Lastname*"
          formControlName="lastname"
        />
        <label 
          *ngIf="shouldDisplayRequiredError(registerForm.get('lastname'))"
          class="label-error" 
          >
          Merci de remplir ce champs.
        </label>
      </div>
    </div>

    <div class="email">
      <input
        id="email"
        type="email"
        placeholder="Email*"
        formControlName="email"
      />
      <label 
        *ngIf="shouldDisplayRequiredError(registerForm.get('email'))"
        class="label-error" 
        >
        Merci de remplir ce champs.
      </label>
      <label 
        *ngIf="shouldDisplayEmailError(registerForm.get('email'))"
        class="label-error" 
        >
        Email non valide.
      </label>
    </div>

    <div class="passwords">
      <div class="passwords-inputs-container">
        <div class="passwords-inputs">
          <input
            id="password"
            type="password"
            placeholder="Password*"
            formControlName="password"
          />
          <label 
            *ngIf="shouldDisplayRequiredError(registerForm.get('password'))"
            class="label-error" 
            >
            Merci de remplir ce champs.
          </label>
          <label 
            *ngIf="shouldDisplayPatternError(registerForm.get('password'))"
            class="label-error" 
            >
            Le mot de passe doit contenir: <br>
            - Entre 7 et 15 caractères <br>
            - Au moins un chiffre (0-9) <br>
            - Au moins un caractère spécial (!@#$%^&*)
          </label>
        </div>
    
        <div class="passwords-inputs">
          <input
            id="confirmPassword"
            type="password"
            placeholder="Confirm*"
            formControlName="confirmPassword"
          />
          <label 
            *ngIf="shouldDisplayRequiredError(registerForm.get('confirmPassword'))"
            class="label-error" 
            >
            Merci de remplir ce champs.
          </label>
        </div>
      </div>
      <label 
        *ngIf="shouldDisplayPasswordsNotMatchingError(registerForm.get('confirmPassword'))"
        class="label-error" 
        >
        Les mots de passe ne correspondent pas.
      </label>
    </div>

    <div class="address">

      <div class="address-inputs">
        <div class="address-second-row-inputs">
          <input 
            id="postalCode" 
            type="text" 
            placeholder="Enterprise"
            formControlName="postalCode"
          >
        </div>

        <div class="address-second-row-inputs">
          <div class="relative">
            <select 
              id="country"
              formControlName="country"
            >
              <option selected>Country*</option>
              <option *ngFor="let country of countries">{{country}}</option>
            </select>
            <div class="svg-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <label 
      *ngIf="invalidEmail"
      class="label-error" 
      >
      Email invalide.
  </label>

    <label 
      *ngIf="missingFields"
      class="label-error" 
      >
      Merci de remplir tous les champs obligatoires.
    </label>

    <label 
      *ngIf="existingUser"
      class="label-error" 
      >
      Cet utilisateur existe déjà. Merci de vous connecter.
    </label>

    <label 
      *ngIf="passwordsNotMatching"
      class="label-error" 
      >
      Les mots de passe ne correspondent pas.
    </label>

    <label 
      *ngIf="authError"
      class="label-error" 
      >
      Aucun compte n'a pu être créé. 
    </label>

    <div class="button">
      <button type="submit">
        <ng-container *ngIf="isLoading"> Loading... </ng-container>
        <ng-container *ngIf="!isLoading"> Signup </ng-container>
      </button>
    </div>

    <div class="member">
      <span>Already a member? </span><a href="javascript:void(0);" (click)="toggleMember()"> Login now</a>
    </div>

  </form>

  </div>

</div>
