.register-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    position: absolute;
    width: 100%;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    border-radius: 0.25rem;
    padding: 2% 40% 2% 40%;
}

.name {
    display: flex; 
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;   
    margin-left: -0.75rem;
    margin-right: -0.75rem; 
    flex-wrap: wrap; 
}

.email {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;      
}

.button {
    margin-top: 1.25rem;
    width: 100%;  
}  

.passwords, .address {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.name-inputs {
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    margin-bottom: 1.5rem; 
    width: 100%;
}

@media (min-width: 768px) {
    .name-inputs {
        margin-bottom: 0; 
        width: 50%; 
    }
}

.passwords-inputs-container {
    display: flex; 
    margin-bottom: 0.5rem; 
    margin-left: -0.75rem;
    margin-right: -0.75rem; 
    flex-wrap: wrap; 
}

.passwords-inputs {
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    width: 100%; 
}

@media (min-width: 768px) { 
    .passwords-inputs {
        width: 50%; 
    }
}

.address-inputs {
    display: flex; 
    margin-bottom: 0.5rem; 
    margin-left: -0.75rem;
    margin-right: -0.75rem; 
    flex-wrap: wrap; 
}

.address-second-row-inputs {
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    width: 100%; 
}

@media (min-width: 768px) { 
    .address-second-row-inputs {
        width: 50%;  
    } 
   }

input, select {
    padding: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    line-height: 1.25; 
    width: 100%; 
    border-radius: 0.25rem; 
    border-width: 1px; 
}

select {
    display: block; 
    appearance: none; 
}

span, a {
    margin-bottom: 0.5rem; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 500; 
    letter-spacing: 0.025em; 
}

span {
    padding: 0;
    color: #ffffff;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
    color: #ff9102;
    text-transform: uppercase; 
}

a:hover {
    color: #000000;
    transform: scale(1.1);
}

.label-error {
    margin-bottom: 0.5rem; 
    color: #B91C1C; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 500; 
}

svg {
    width: 1rem; 
    height: 1rem; 
    fill: currentColor; 
}

.svg-container {
    display: flex; 
    position: absolute; 
    top: 0;
    bottom: 0; 
    right: 0; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    color: #374151; 
    align-items: center; 
    pointer-events: none; 
}

button {
    padding: 0.5rem; 
    background-color: #ff9102; 
    color: #ffffff; 
    width: 100%; 
    border-radius: 0.25rem; 
    text-transform: uppercase; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 500; 
    letter-spacing: 0.025em; 
  }
  
  button:hover {
    background-color: #000000; 
    text-shadow: 0 0 3px #555;
    border: 1px solid #ff9102;
    font-size: 0.85rem;
  }

.member {
    padding: 0.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}