<div class="login-container">

  <div class="form">

    <form
    [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
    <div class="input-container">
      <input
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
        required
      />
    </div>

    <div class="input-container">
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
        required
      />
    </div>

    <label 
      *ngIf="missingFields"
      class="label-error" 
      >
      Merci de remplir tous les champs.
    </label>

    <label 
      *ngIf="wrongCredentials"
      class="label-error" 
      >
      Identifiants incorrects.
    </label>

    <label 
      *ngIf="authError"
      class="label-error" 
      >
      Erreur survenue.
    </label>

    <div class="button-container">
      <button type="submit">
        <ng-container *ngIf="isLoading"> Loading... </ng-container>
        <ng-container *ngIf="!isLoading"> Login </ng-container>
      </button>
    </div>

    <div class="member">
      <span>Not a member? </span><a href="javascript:void(0);" (click)="toggleMember()"> Signup now</a>
    </div>

  </form>

  </div>
  
</div>
